<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609533230957-qqf6flkvff8n10ngbi8gmnh3qpqeu8nr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609533230957-qqf6flkvff8n10ngbi8gmnh3qpqeu8nr</string>
	<key>API_KEY</key>
	<string>AIzaSyBfH_iemX7QRXUesxkAf2elp7wscajZ8vw</string>
	<key>GCM_SENDER_ID</key>
	<string>609533230957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myNotes</string>
	<key>PROJECT_ID</key>
	<string>mynotesappakshaib10</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotesappakshaib10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609533230957:ios:02afe9cf8fc1fa09c06464</string>
</dict>
</plist>